<%- include('admin-header') %>
<section>
    <div class="container py-4">
        <div class="text-36 mb-2">Add new product</div>
        <% if (typeof msg !== 'undefined') { 
            if (msg.type == 'error') { %>
        <div class="alert alert-danger">
            <strong>Error!</strong> <%= msg.text %>
        </div>
        <%  } else { %>
        <div class="alert alert-success">
            <strong>Success!</strong> <%= msg.text %>
        </div>
        <%  }
        } %>
        <form action="/admin/add" method="POST">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productName">Product Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productName" id="productName"
                        placeholder="Enter product name" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Product Category</label>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="category-1" name="productCategory" class="custom-control-input"
                            value="men" checked>
                        <label class="custom-control-label" for="category-1">Men</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="category-2" name="productCategory" class="custom-control-input"
                            value="women">
                        <label class="custom-control-label" for="category-2">Women</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Product Brand</label>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="brand-1" name="productBrand" class="custom-control-input" value="adidas"
                            checked>
                        <label class="custom-control-label" for="brand-1">Adidas</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="brand-2" name="productBrand" class="custom-control-input"
                            value="channel">
                        <label class="custom-control-label" for="brand-2">Channel</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="brand-3" name="productBrand" class="custom-control-input" value="gucci">
                        <label class="custom-control-label" for="brand-3">Gucci</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="brand-4" name="productBrand" class="custom-control-input" value="nike">
                        <label class="custom-control-label" for="brand-4">Nike</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="brand-5" name="productBrand" class="custom-control-input"
                            value="hermes">
                        <label class="custom-control-label" for="brand-5">Hermes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="brand-6" name="productBrand" class="custom-control-input"
                            value="louis-vuiton">
                        <label class="custom-control-label" for="brand-6">Louis Vuiton</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productPrice">Product Price</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productPrice" id="productPrice"
                        placeholder="Enter product price" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productDoc">Product Document Link</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productDoc" id="productDoc"
                        placeholder="Enter document link" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productSize">Product Size</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productSize" id="productSize"
                        placeholder="Enter product size" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productColor">Product Color</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productColor" id="productColor"
                        placeholder="Enter product color" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productDesc">Product Description</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productDesc" id="productDesc"
                        placeholder="Enter product description" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="productImg">Product Image Link</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="productImg" id="productImg"
                        placeholder="Enter product image link" required>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>


</section>
<%- include('admin-footer') %>