<%- include('admin-header') %>
<section class="my-4">
    <div class="container">
        <div class="text-36 mb-4">Welcome</div>
        <div>
            Hiện tại, bạn đang có 5 đơn hàng<br/>
            Có 15 sản phẩm trong kho
        </div>
    </div>
</section>
<%- include('admin-footer') %>