<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Gracious Garment</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
<!-- header start -->
<header>
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row">
            <!-- col-md-3 start -->
            <div class="col-md-3">
                <a href="#">
                    <img src="/assets/images/logo.png" alt="">
                </a>
            </div>
            <!-- col-md-3 end -->
        </div>
        <!-- row end -->

        <!-- menu start -->
        <div class="pb-4 pt-2 menu">
            <ul>
                <li>
                    <a href="/admin" <% if (page == 'Dashboard'){%> class="active" <%}%>>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/manage" <% if (page == 'Manage'){%> class="active" <%}%>>Manage Products</a>
                </li>
                <li>
                    <a href="/admin/add" <% if (page == 'Add'){%> class="active" <%}%>>Add Product</a>
                </li>
                <li>
                    <a href="/admin/order" <% if (page == 'Orders'){%> class="active" <%}%>>Order</a>
                </li>
            </ul>
        </div>
        <!-- menu end -->
    </div>
    <!-- container end -->
</header>
<!-- header end -->