<!-- breadcrumb start -->
<div class="header-breadcrumb py-2">
    <div class="clearfix">
        <div class="float-left">
            <a href="/">Home</a>
            <i class="fas fa-chevron-right"></i>
            <a href=""><%= product.brand %></5></a>
            <i class="fas fa-chevron-right"></i>
            <span><%= product.name %></span>
        </div>
        <div class="float-right">
            <a href="/<% product.brand %>" class="btn btn-dark text-12 text-bold text-uppercase">Back to list</a>
        </div>
    </div>
</div>
<!-- breadcrumb end -->