<%- include('header') %>
<!--Information Start-->
<div class="about-us py-5">
    <div class="container rounded d-block justify-content-between">
        <h2 class="text-center text-uppercase">About Us</h2>
        <div class="about text-justify pt-4">
            <h4>About Gracious-Garment Store</h4>
            <p class="pt-3">At Gracious Garment, we see a large world where people are
                a fashionista united in the joy of fashion with a wide variety of elegant
                clothes suitable for all ages. Driven by our passion for fashion and our
                innovative instincts, we aim to enhance the beauty of every human being and
                to serve people in everyday life, work, parties or even the important event.</p>
            <div class="row pt-2">
                <div class="col-6 text-justify">
                    <p>
                        Whether our job is to showcase ultimate clothes or code a revolutionary
                        application, we have been united by the same mission: "to bring inspiration
                        and innovation to each child." people in the world ". Our fashion is to serve you.
                    </p>
                </div>
                <div class="col-6 text-justify">
                    <p>
                        Dinh Vu - share with us: "According to your style, success will follow you".
                        Every day, we are researching and discovering many fashion models that lead
                        the way and popularity. We believe that everyone's trust fosters creativity
                        and inspires our team.
                    </p>
                </div>
            </div>
        </div>
        <div class="faq text-justify pt-5">
            <h4>FAQ</h4>
            <p class="pt-2"><span class="text-bold pb-2">1.     Where is Gracious-Garment based?</span><br>
                Our office is located in sunny Hermosa Beach, California, just a few steps from
                the Pacific Ocean and the kind of people who say "gnarly" (really). </p>
            <p class="pt-2"><span class="text-bold pb-2">2.       Where are your products shipped from?</span><br>
                We ship from 7 warehouses around the US. With so many shipping centers across the country,
                we provide some of the fastest, most affordable delivery options in the industry.
            </p>
            <p class="pt-2"><span class="text-bold pb-2">3.       How long will it take me to get my order?</span><br>
                For standard shipping, you should receive your order within 4-5 business days.</p>
            <p class="pt-2"><span class="text-bold pb-2">4.   Why did I only receive part of my order?</span><br>
                Don't worry, it's on its way! While we do our best to ship all orders in one package,
                there are times when orders will ship from multiple warehouses. If you did not receive
                multiple tracking numbers, please reach out to our customer service team for assistance.</p>
            <p class="pt-2"><span class="text-bold pb-2">5.       Can you ship internationally or process international credit cards?</span><br>
                At this time we do not offer international shipping and cannot accept credit cards from outside of the
                United States.</p>
        </div>
    </div>
</div>
<!--Information End-->
<%- include('footer') %>