<%- include('header') %>

<section>
    <div class="container">
        <div class="confirm-margin">
            <div class="col-md-8 offset-md-2 text-center confirm-thanks py-2">
                THANK YOU FOR YOUR ORDER!
            </div>
            <div class="col-md-8 offset-md-2 text-center py-2">
                <h2 class="confirm-success">Your order was succesfully completed!</h2>
            </div>
            <div class="col-md-8 offset-md-2 text-center py-2">
                <h4>We'll get it delivered soon!</h4>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %>