<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Header Test</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div class="container fixed-top">
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-brand d-none d-lg-block col-md-3">
                    <a href="/homepage" class="iconlogo transition">
                        <img src="../public/assets/logo.png" class="without-header logo responsive"/>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div id="navbar-menu" class="navbar col-md-9 justify-content-end">
                        <a class="nav-item nav-link" href="">
                            <span><i class="fas fa-info-circle"></i> Imfomation </span>
                        </a>
                        <a class="nav-item nav-link" href="">
                            <span><i class="fas fa-shopping-basket"></i> Empty</span>
                        </a>
                    </div>
                    <div class="navbar-nav ml-auto user-navbar col-md-3">
                        <div class="input-group justify-content-end md-form form-sm form-2 pl-0">
                            <div class="navbar-nav">
                                <div class="currency d-block">
                                    <select class="form-control" id="sel1">
                                        <option>USD</option>
                                        <option>EUR</option>
                                        <option>VND</option>
                                    </select>
                                </div>
                                <div class="currency d-block">
                                    <select class="form-control" id="lang">
                                        <option>EN</option>
                                        <option>VN</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="department justify-content-start">
                <div data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample"><h5>MEN DEPARTMENT <i class="fas fa-sort-down"></i></h5>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                    <div id="menu">
                        <ul>
                            <li>
                                <a href="">MEN <i class="fas fa-sort-down"></i></a>
                                <ul class="sub-menu list-unstyled">
                                    <li><a class="menu-item pl-0" href="">News</a></li>
                                    <li><a class="menu-item pl-0" href="">Sale</a></li>
                                    <li><a class="menu-item pl-0" href="">Bestseller</a></li>
                                    <li><a class="menu-item pl-0" href="">T-Shirts</a></li>
                                    <li><a class="menu-item pl-0" href="">Long Sheeves</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">WOMEN <i class="fas fa-sort-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="">News</a></li>
                                    <li><a href="">Sale</a></li>
                                    <li><a href="">Bestseller</a></li>
                                    <li><a href="">T-Shirts</a></li>
                                    <li><a href="">Long Sheeves</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">YOUTH <i class="fas fa-sort-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="">News</a></li>
                                    <li><a href="">Sale</a></li>
                                    <li><a href="">Bestseller</a></li>
                                    <li><a href="">T-Shirts</a></li>
                                    <li><a href="">Long Sheeves</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">OUT LET </a>
                            </li>
                            <li>
                                <a href="">50% SALE</a>
                            </li>
                            <li>
                                <a href="">BRANDS</a>
                            </li>
                            <li>
                                <a href="">TOP100</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="navbar-nav ml-auto user-navbar">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 amber-border" type="text"
                               placeholder="Product Search"
                               aria-label="Search">
                        <div class="input-group-append">
                        <span class="input-group-text amber lighten-3">
                            Search<i class="fas fa-search text-grey pl-2"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>