<%- include('header') %>

<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 pr-0">
                <h4 class="border-bottom border-3 border-light text-center py-2  text-secondary">
                    1. SHOPPING CART
                </h4>
            </div>
            <div class="col-md-3 px-0">
                <h4 class="border-bottom border-3 border-light text-center py-2  text-secondary">
                    2. DELIVERY ADDRESS
                </h4>
            </div>
            <div class="col-md-4 px-0">
                <h4 class="border-bottom border-3 border-dark text-center text-bold py-2">
                    3. SHIPPING & PAYMENT
                </h4>
            </div>
            <div class="col-md-2 pl-0">
                <h4 class="border-bottom border-3 border-light text-center py-2 text-secondary">
                    4. SUMMARY
                </h4>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-5">
                <div class="pt-2 pb-2 mb-4 text-18 text-bold align-self-center">Choose shipping option</div>
                <div class="bg-light p-4 mb-4">
                    <div class="text-bold text-uppercase mb-2 text-14">DHL Standard delivery</div>
                    <div class="mb-4 text-12">The shipment will be delivered in 2-5 working days.</div>
                    <div class="row">
                        <div class="col-md-8 text-bold text-14 text-uppercase">
                            price: 2.99€
                        </div>
                        <div class="col-md-4">
                            <span class="delivery btn btn-dark option-selected text-uppercase text-bold text-12 px-4"
                                data-value="DHL Standard">
                                Select
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 mb-4">
                    <div class="text-bold text-uppercase mb-2 text-14">Fedex Standard delivery</div>
                    <div class="mb-4 text-12">The shipment will be delivered in 2-5 working days.</div>
                    <div class="row">
                        <div class="col-md-8 text-bold text-14 text-uppercase">
                            price: 2.99€
                        </div>
                        <div class="col-md-4">
                            <span class="delivery btn btn-dark text-uppercase text-bold text-12 px-4"
                                data-value="Fedex Standard">
                                Select
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 mb-4">
                    <div class="text-bold text-uppercase mb-2 text-14">Post Office delivery</div>
                    <div class="mb-4 text-12">The shipment will be delivered in 2-5 working days.</div>
                    <div class="row">
                        <div class="col-md-8 text-bold text-14 text-uppercase">
                            price: 2.99€
                        </div>
                        <div class="col-md-4">
                            <span class="delivery btn btn-dark text-uppercase text-bold text-12 px-4"
                                data-value="Post Office">
                                Select
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-2">
                <div class="pt-2 pb-2 mb-4 text-18 text-bold align-self-center">Choose payment method</div>
                <div class="bg-light p-4 mb-4">
                    <div class="text-bold text-uppercase mb-2 text-14">Cash On Delivery</div>
                    <div class="mb-4 text-12">You will only have pay once you receive the items.</div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <span class="payment btn btn-dark option-selected text-uppercase text-bold text-12 px-4"
                                data-value="Cash on delivery">
                                Select
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <div class="row">
                <div class="col-md-6">
                    <a href="/address" class="text-uppercase btn btn-dark text-12 text-bold px-4">
                        Back to address
                    </a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/summary" class="btn btn-warning text-white px-4 text-uppercase text-bold text-12"
                        id="summary-redirect">
                        Process to summary
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %>