footer{
    margin: 0 auto;
    padding: 0;
}
footer a{
    color: black;
}
.page-footer p {
    line-height: 1.5;
}

.list-unstyled  li {
    padding-top: 1px;
}

.footer-copyright {
    background-color:#ededed;
}

.footer-copyright a {

}