*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #ededed;
    height: 150px;
}
.iconlogo img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar-menu a{
    color: black;
}
#navbar-menu a:hover{
    color: #007bff;
}
select {
    width: 60px !important;
    height: 25px !important;
}
.department{
    width: 30%;
}
.search {
    width: 70%;
}
#sel1 {
    padding: 0;
}
#lang{
    padding: 0;
}
.card{
    padding: 0 !important;
    background-color: #ededed !important;
    height: 45px;
    line-height: 45px;
    border: none !important;
}
.card-body{
    width: 100%;
    position: absolute !important;
}
#collapseExample{
    padding-top: 5px;
}
h5 {
    font-size: 1rem;
}
#menu ul {
    list-style-type: none;
    background-color: #ededed;
    align-items: center;
    /*overflow: hidden;*/
}
#menu ul li {
    display: inline-table;
    /*float: left;*/
    width: 14%;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
}
#menu ul li:last-child{
    width: 13%;
}
#menu ul li a{
    text-decoration: none;
    display: block;
    color: black;
}
#menu ul li a:hover{
    background: #007bff;
    color: #333333;
}
#menu ul li > .sub-menu{
    display: none;
    position: absolute;
    text-align: left;
    padding-left: 10px;
}
#menu ul li:hover > .sub-menu{
    display: block;
}
.sub-menu li {
    display: block !important;
    width: 500px!important;
    text-align: left !important;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}