.product{
    width: 50%;
}
.qty{
    width: 30%;
}
.price{
    width: 20%;
}
.tfooter{
    background-color: #ededed;
}
.button{
    margin-top: 15px;

}
.box{
    margin-top: 15px;
    padding: 15px;
    background-color: #fafafa
}
.icon{
    font-size: 30px;
}
.line{
    padding: 10px 0 10px;
}
.text1{
    font-family: Montserrat;
    font-size: 18px;
}
.text2{
    font-family: Montserrat;
    font-size: 13px;
}
.text3{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
}
.text4{
    font-family: Montserrat;
    font-size: 14px;
}

.billing-form > label {
    float: left;
}

.billing-form > input {
    float: right;
}