/* ====================================
        Table of content
======================================= */

/*
01. Header
02. Footer
*/

/* ====================================
        Reset css
======================================= */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
    background: #3a3a3a;
}

button,
input[type=reset] {
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    text-transform: uppercase;
}

/* ====================================
        Typography
======================================= */
body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #000000;
}

a {
    color: #000;
}

h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/* ====================================
        Helper class
======================================= */
.text-bold {
    font-weight: bold !important;
}

/* ====================================
        Header
======================================= */
header {
    background-color: #ededed;
    height: 150px;
}

.iconlogo img {
    width: 50px !important;
    height: 50px !important;
    background-repeat: no-repeat;
    position: absolute;
}

#navbar-menu a {
    color: #000000;
    font-weight: 500;
}

#navbar-menu a:hover {
    color: #007bff;
}

select {
    width: 60px !important;
    height: 25px !important;
}

.department {
    width: 30%;
}

.search {
    width: 70%;
}

#sel1 {
    padding: 0;
    background-color: #e3e3e3;
}

#lang {
    padding: 0;
    background-color: #e3e3e3;
}

.card {
    padding: 0 !important;
    background-color: #ededed !important;
    height: 45px;
    line-height: 45px;
    border: none !important;
}

.card-body {
    width: 100%;
    position: absolute !important;
    margin-top: 13px;
    left: 0;
    right: 0;
}

#collapseExample {
    padding-top: 5px;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

#menu ul {
    list-style-type: none;
    background-color: #ededed;
    align-items: center;
    /*overflow: hidden;*/
}

#menu ul li {
    display: inline-table;
    /*float: left;*/
    width: 14%;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    color: black;
}

#menu ul li a:hover {
    background: #007bff;
    color: #333333;
}

#menu ul li>.sub-menu {
    display: none;
    position: absolute;
    text-align: left;
    padding-left: 10px;
}

#menu ul li:hover>.sub-menu {
    display: block;
}

.sub-menu li {
    display: block !important;
    width: 500px !important;
    text-align: left !important;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

/* ====================================
        Footer
======================================= */
footer {
    margin: 0 auto;
    padding: 0;
}

footer a {
    color: black;
}

.page-footer p {
    line-height: 1.5;
}

.list-unstyled li {
    padding-top: 1px;
}

.footer-copyright {
    background-color: #ededed;
    font-size: 13px;
}

.footer-nav-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.footer-nav-content {
    font-size: 13px;
}

.footer-nav-content ul li {
    margin-bottom: 16px;
}

/* ====================================
        Category
======================================= */
.sidebar {
    border: #c5c5c5 solid 2px;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 255px;
}

.sidebar .form-group label {
    font-size: 12px;
    font-weight: bold;
}

.sidebar .form-check label {
    font-size: 12px;
    font-weight: bold;
}

.sidebar .form-group input {
    width: 100%;
}

.sidebar-title {
    margin-bottom: 10px;
    color: #838383;
}

.category-product-img {
    background-color: #f7f7f7;
}

.category-product-title {
    background-color: #383838;
    padding: 10px;
}

.price {
    font-family: 'Oswald', sans-serif;
}

/* ====================================
        Information
======================================= */
.table-one {
    background-color: #f9f9f9 !important;
}

.table-two {
    background-color: #efefef !important;
}

.newsletter {
    height: 80px;
    background-color: #383838;
}

h1 span {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

tr {
    height: 70px;
    justify-content: center;
}

.py-4 {
    padding-top: 35px !important;
    padding-left: 35px !important;
}

#map {
    width: 100%;
    height: 500px;
}